html, body {
    width: 100%!important;
    overflow-x: hidden!important;
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

img {
    width: 200px;
    height: 200px;
    /*
    border-radius: 50%;
    */
    object-fit: cover;

}

.contenido{
    display: flex;
    margin: 60px;
}
/*
.articulos{
    width: 80%;
    border-right: 3px solid black;
}
*/

.secciones{
    display: flex;
    align-items: center;
    padding: 40px;
}
/*
.menu-secundario{
    width: 20%;
    margin-top: 60px;
}

.menu-secundario a{
    display: block;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}
*/

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}



button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    background-color: rgb(55, 238, 70);
}

button:hover{
    background-color: rgb(40, 170, 51);;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{color: rgb(40, 170, 51);;}

header{
    background-color: rgba(245,245,245);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: green;
    font-size: 1.5em;
}

header p{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: green;
    font-size: 1.5em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    
}

header a:hover{
    color:green;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/consolas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
}

#somos-tucompragamer{

}

#somos-tucompragamer .container{
    text-align: center;
    padding: 200px 12px;
}

#lo-mas-vendido{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#lo-mas-vendido .container{
    padding: 150px 12px;
}

#lo-mas-vendido h2{
    margin-top: 0;
    font-size: 3.3em;
}

#lo-mas-vendido p{
    display: none;
}

#lo-mas-vendido .carta{
    padding: 50px;
    background-position: center center;
    background-size: cover;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/consolasnuevas.jpg");
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/retro-consoles.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/Evento-NVIDIA-Online-Lanzamiento-de-las-GPU-GeForce-RTX-40.jpg");
}

#caracteristicas .container{
    text-align: center;
    padding: 12px 12px;
    background-color: rgb(30,30,30);
}

#caracteristicas li{
    margin: 12px 0px;
    font-weight: bold;
    color: white;
}

#aplica-ya{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    background-color: rgb(30,30,30);
    color: white;
}

#aplica-ya button{
    font-size: 5vw;
}

#aplica-ya h2{
    font-size: 9vw;
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(0, 0, 0);
}

footer .container{
    justify-content: flex-end;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }


    header nav{
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
    }

    #hero li{
        font-size: 5em;
    }

    #somos-tucompragamer .container{
         display: flex;
        justify-content: space-evenly;
    }

    #somos-tucompragamer .texto{
        width: 50%;
        text-align: initial;
        padding: 0px 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;


    }

    #somos-tucompragamer h2{
        margin-top: 0px;
    }

    #somos-tucompragamer .img-container{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ), url("media/accesorios.jfif");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 500px;

    }

    #lo-mas-vendido .topseller{
        display: flex;
        justify-content: center;

    }

    #lo-mas-vendido h2{
        font-size: 4em;
    }

    #lo-mas-vendido p{
        display: block;
        margin-bottom: 150px;
    }

    #lo-mas-vendido h3{
        margin-top: 0;
    }

    #lo-mas-vendido .carta{
        padding: 50px;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    #aplica-ya h2{
        font-size: 5em;
    }

    #aplica-ya button{
        font-size: 3em;
    }
}

footer{
    background-color: black;
}

footer p{
    color: white;
}
